name: Release

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions: write-all
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Enable Corepack
        run: corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: yarn
          registry-url: https://registry.npmjs.org

      ## --- YARN CACHE --- ##
      - name: Check for cached dependencies
        continue-on-error: true
        id: cache-dependencies
        uses: actions/cache@v4
        with:
          path: |
            .cache/yarn
            node_modules
          key: ubuntu-latest-node22-${{ hashFiles('yarn.lock') }}

      ## --- INSTALL --- ##
      # If statement isn't needed here b/c yarn will leverage the cache if it exists
      - name: Install dependencies
        shell: bash
        run: yarn install --immutable

      - name: Semantic release
        uses: cycjimmy/semantic-release-action@v5
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_AUTHOR_NAME: Cassondra Roberts
          GIT_AUTHOR_EMAIL: castastrophe@users.noreply.github.com
          GIT_COMMITTER_NAME: Cassondra Roberts
          GIT_COMMITTER_EMAIL: castastrophe@users.noreply.github.com
